<!-- Background -->
<div [ngClass]= "isCold ? 'wrapperOne' : 'wrapperTwo'">
  <div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>


<!-- Search -->
 <div class="search">
  <form #form="ngForm" (submit)="onSumbit()">
    <input type="text" name="" id="" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
  <p class="errorMsg" *ngIf="errorFlag">City Not Found</p>
 </div>
 
<!-- Realtime Data -->
 <div [ngStyle]="{backgroundColor: getBgColor()}" class="container" *ngIf="weatherData&&!errorFlag">
  <div class="upper-data">
    <img src="../assets/hot.jpeg" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/cold.jpeg" *ngIf=" weatherData.main.temp <= 15">

    <div class="weather-data">
      <div class="location" [ngStyle]="{color: getColor()}">{{ weatherData.name }}</div>
      <div class="temparature" [ngStyle]="{color: getColor()}">{{ weatherData.main.temp | number: '1.0-0' }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label" [ngStyle]="{color: getColor()}">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="">
          <span [ngStyle]="{color: getColor()}">Min</span>
        </div>
        <div class="info-block-value" [ngStyle]="{color: getColor()}">
          {{ weatherData.main.temp_min | number: '1.0-0' }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="">
          <span [ngStyle]="{color: getColor()}">Max</span>
        </div>
        <div class="info-block-value" [ngStyle]="{color: getColor()}">
          {{ weatherData.main.temp_max | number: '1.0-0' }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span [ngStyle]="{color: getColor()}">Humidity</span>
        </div>
        <div class="info-block-value" [ngStyle]="{color: getColor()}">
          {{ weatherData.main.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span [ngStyle]="{color: getColor()}">Wind</span>
        </div>
        <div class="info-block-value" [ngStyle]="{color: getColor()}">
          {{ weatherData.wind.speed }} km/h
        </div>
      </div>


    </div>
  </div>
 </div>

 <!-- Static Data Below -->
 <div class="container" *ngIf="errorFlag">
  <div class="upper-data">
    <!-- <img src="../assets/cold.jpeg"> -->

    <div class="weather-data">
      <div class="location">---------</div>
      <div class="temparature">--°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          --°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          --°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          --%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          -- km/h
        </div>
      </div>


    </div>
  </div>
 </div>
 <router-outlet></router-outlet>