/* You can add global styles to this file, and also import other style files */
:root{
    --blue-1: #3C429E;
    --blue-2: #4C52AD;
    --yellow-1: #FAC742;
    --yellow-2: #fed66f;
    --white: #FFF;
    --grey-1: #EDEDED;
    --grey-2: #282828;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.4); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapperOne{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(2,0,.6,1) 0%, rgb(9,9,121,1) 35%, rgb(0,212,255,1) 100%) ;
}
.wrapperTwo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, #fde296 0%, #fed66f 35%, #f7b100 100%) ;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 6px solid rgb(255,255,255,0.8);
}

.box div:nth-child(1){
    top: 12%;
    left: 62%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(7){
    top: 12%;
    left: 32%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}




body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    /* background-color: var(--blue-1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 400px;
    height: 80vh;
    /* background-color: var(--blue-2); */
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}

.upper-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lower-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.upper-data img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.weather-data{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location{
    color: var(--white);
    text-align: center;
    font-size: 1.2em;
}

.temparature{
    color: var(--white);
    font-size: 4em;
    text-align: center;
    font-weight: 900;
}

.more-info-label{
    color: var(--white);
}

.more-info-container{
    flex: 1;
    background-color: var(--shadow-light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-block{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.info-block-label{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-block-label img{
    width: 2.5em;
}

.info-block-label span{
    color: var(--white);
    font-size: 0.8em;
}

.info-block-value{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}

.search{
    margin-bottom: 1em;
    text-align: center;
    position: relative;
}

.search input{
    background-color: var(--shadow-light);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: var(--grey-2);
    font-size: 0.8em;
    text-align: center;
    width: 70%;
}
.search input::placeholder{
    color: var(--grey-2);
}

.errorMsg{
    color: red;
    margin-top: 10px;
}